#form {
  margin-top: 64px;
  display: flex;
  gap: 12px;
}

#form > input {
  height: 48px;
  width: 450px;
  border: none;
  color: #fff;
  background-color: #202024;
  border-radius: 5px;
  padding: 0 12px;
  font-size: 16px;
}

#form > input:focus {
  outline: 2px solid #3d51ff;
}

#form > input:valid {
  background-color: #202024;
}

#form > button {
  height: 48px;
  width: 48px;
  border: none;
  border-radius: 5px;
  background-color: #0026ff;
  cursor: pointer;
  transition: background-color 0.2s;
}

#form > button:hover {
  background-color: #0026ff9a;
}

#form > button i {
  font-size: 24px;
  color: #ffffff;
}

/* Botão de alternância de tema */
#theme-toggle {
  height: 48px;
  width: 48px;
  border: none;
  border-radius: 5px;
  background-color: #0026ff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 12px;
}

#theme-toggle:hover {
  background-color: #0026ff9a;
}

#theme-toggle i {
  font-size: 24px;
}

/* Tema escuro */
body.dark-theme {
  background-color: #202024;
  color: #fff;
}

body.dark-theme #form > input {
  background-color: #202024;
}

/* Tema claro */
body {
  background-color: #fff;
  color: #000;
}

body #form > input {
  background-color: #f0f0f0;
}
